name: PROD


on:
  pull_request:
    branches: [ "main" ]


env: 
  REGISTRY: emoralesc
  IMAGE_NAME: kubelabs_publicapi
  OPS_REPO: Edmoralesc/Ops
  OPS_BRANCH: main

  # emoralesc/kubelabs_publicapi a

jobs:


  deploy_to_prod:
    name: Deploy
    runs-on: ubuntu-latest
    
    env:
      VERSION: ${{ needs.build.outputs.RELEASE_VERSION }}

    steps:
      - name: Checkout OPS code
        uses: actions/checkout@v3
        with:
          repository: ${{ env.OPS_REPO }}
          #  token: ${{ secrets.OPS_TOKEN }}
          ssh-key: ${{ secrets.OPS_TOKEN }}
          fetch-depth: 0 
          fetch-tags: true 

        
          
      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v2
        with:
          kustomize-version: "3.6.1"
      
      - name: Get TAG     
        
        run: echo "RELEASE_VERSION=$(git tag --sort=-creatordate | head -1)" >> $GITHUB_ENV
        
      - name: Show Tag Version
        run: |
          echo ${{ env.RELEASE_VERSION }}


      - name: Update Kubernetes resources
        run: |
          ls
          pwd
          
          cd public-api/overlays/production

          kustomize edit set image KUSTOMIZE-DEFINED=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.RELEASE_VERSION }}

          kustomize build . > kustomized-apps.yml
          cat kustomized-apps.yml

      - name: Commit files
        run: |
          git config --local user.email "emoralesc@ucenfotec.ac.cr"
          git config --local user.name "Edwin deploy-Bot"
          
          git add .
          git diff-index --quiet HEAD || git commit -am "New image version. Branch staging. tag: ${{ env.RELEASE_VERSION }}"
          git push --force origin ${{ env.OPS_BRANCH }}