name: PROD


on:
  pull_request:
    branches: [ "main" ]


env: 
  REGISTRY: emoralesc
  IMAGE_NAME: kubelabs_publicapi
  OPS_REPO: Edmoralesc/Ops
  OPS_BRANCH: main

  # emoralesc/kubelabs_publicapi

jobs:


  deploy_to_prod:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build

    env:
      VERSION: ${{ needs.build.outputs.RELEASE_VERSION }}

    steps:
      - name: Checkout OPS code
        uses: actions/checkout@v3
        with:
          repository: ${{ env.OPS_REPO }}
          #  token: ${{ secrets.OPS_TOKEN }}
          ssh-key: ${{ secrets.OPS_TOKEN }}

      - name: Setup Kustomize
        uses: imranismail/setup-kustomize@v2
        with:
          kustomize-version: "3.6.1"

      - name: Update Kubernetes resources
        run: |
          ls
          pwd
          
          cd public-api/overlays/production

          kustomize edit set image KUSTOMIZE-DEFINED=${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ env.VERSION }}

          kustomize build . > kustomized-apps.yml
          cat kustomized-apps.yml

      - name: Commit files
        run: |
          git config --local user.email "emoralesc@ucenfotec.ac.cr"
          git config --local user.name "Edwin deploy-Bot"
          git add .
          git diff-index --quiet HEAD || git commit -am "New image version. Branch staging. tag: ${{ env.VERSION }}"
          git push --force origin ${{ env.OPS_BRANCH }}