name: STAGE
on:
  push:
    branches: ["stage"]


env: 
  REGISTRY: emoralesc
  IMAGE_NAME: kubelabs_publicapi
  OPS_REPO: Edmoralesc/Dev
  OPS_BRANCH: main

  # emoralesc/kubelabs_publicapi

jobs:
  builds:
    runs-on: ubuntu-latest
    steps:
      - name: checkout-code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Login to Docker
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME}}
          password: ${{ secrets.DOCKER_PASSWORD}}

      - name: Build & push
        uses: docker/build-push-action@v3
        with:
          push: true  
          tags: ${{ env.REGISTRY}}/${{ env.IMAGE_NAME }}:latest
          build-args: |
            APP_ENV=${{ secrets.APP_ENV }}


      - name: Get TAG version
        run: echo "RELEASE_VERSION=$(git tag --sort=-creatordate | head -1)" >> $GITHUB_ENV

      - name: Show Tag Version
        run: echo ${{ env.RELEASE_VERSION }}